In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("list.csv")
df= df[df['imdb_rate'].notna()]
df

,Unnamed: 0,name,url,global_rate,release_year,imdb_rate,metascore_rate,description,votes,duration,genre
0,15,Убийцы цветочной луны,/title/tt5537002/,16.,(2023),"9,4",91.0,Members of the Osage tribe in the United State...,1290.0,206 min,"Crime, Drama, History"
1,58,Побег из Шоушенка,/title/tt0111161/,59.,(1994),"9,3",82.0,"Over the course of several years, two convicts...",2751362.0,142 min,Drama
2,48,Крестный отец,/title/tt0068646/,49.,(1972),"9,2",100.0,"Don Vito Corleone, head of a mafia family, dec...",1913852.0,175 min,"Crime, Drama"
3,0,Человек-паук: Паутина вселенных,/title/tt9362722/,1.,(2023),9,86.0,"Miles Morales catapults across the Multiverse,...",112055.0,140 min,"Animation, Action, Adventure"
4,193,Список Шиндлера,/title/tt0108052/,194.,(1993),9,95.0,"In German-occupied Poland during World War II,...",1387425.0,195 min,"Biography, Drama, History"
...,...,...,...,...,...,...,...,...,...,...,...
4339,1515,Драконий жемчуг: Эволюция,/title/tt1098327/,1 516.,(2009),"2,6",45.0,The young warrior Son Goku sets out on a quest...,77141.0,85 min,"Action, Adventure, Fantasy"
4340,3659,Поле битвы: Земля,/title/tt0185183/,3 660.,(2000),"2,5",9.0,"It's the year 3000 A.D., and the Earth is lost...",81685.0,118 min,"Action, Adventure, Sci-Fi"
4341,2986,Очень эпическое кино,/title/tt0799949/,2 987.,(2007),"2,4",17.0,A spoof on previous years' epic movies (Код да...,107726.0,86 min,"Adventure, Comedy, Fantasy"
4342,4120,Сын маски,/title/tt0362165/,4 121.,(2005),"2,2",20.0,"Tim Avery, an aspiring cartoonist, finds himse...",57905.0,94 min,"Comedy, Family, Fantasy"
4343,2898,Нереальный блокбастер,/title/tt1213644/,2 899.,(2008),"1,9",15.0,"Over the course of one evening, an unsuspectin...",93155.0,87 min,"Comedy, Sci-Fi"